.ll {
    font-size: 20px;
    font-style: italic;
    margin: 15px 15px;
}
.pos {
    width: 100px;
    height: 100px;
    margin: 5px 5px;
    display: inline-block;
}
.a {
    background-color: aqua;
}
.b {
    background-color: red;
}
.c {
    background-color: black;
}
.d {
    background-color: violet;
}
.e {
    background-color: navy;
}

.a1 {
    background-color: aqua;
    position: absolute;
    left: 35px;
}

.b1 {
    background-color: red;
}

.c1 {
    background-color: black;
}

.d1 {
    background-color: violet;
}

.e1 {
    background-color: navy;
}

.a2 {
    background-color: aqua;
}

.b2 {
    background-color: red;
    position: fixed;
    left: 80px;
    bottom: 25px;
}

.c2 {
    background-color: black;
}

.d2 {
    background-color: violet;
}

.e2 {
    background-color: navy;
}

.a3 {
    background-color: aqua;
}

.b3 {
    background-color: red;
    position: relative;
    right: 30px;
    top: 20px;
}

.c3 {
    background-color: black;
}

.d3 {
    background-color: violet;
}

.e3 {
    background-color: navy;
}

.a4 {
    background-color: aqua;
    position: sticky;
    top: 300px;
    right: 45px;
}

.b4 {
    background-color: red;
}

.c4 {
    background-color: black;
}

.d4 {
    background-color: violet;
}

.e4 {
    background-color: navy;
}